numpy
EQcorrscan==0.1.6
librosa
matplotlib
obspy
pytest
-e git+https://github.com/gem/oq-hazardlib.git@589fa31ddca3697e6b167082136dc0174a77bc16#egg=openquake.hazardlib
pandas
protobuf
scikit-image
scikit-learn
scipy
seaborn
setproctitle
tensorflow
terminado
tqdm
